@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select($option) {
  -webkit-user-select: $option;
  -moz-user-select: $option;
  -ms-user-select: $option;
  -o-user-select: $option;
  user-select: $option;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

body {
  text-align: center;
}

.sketchpad-template {
  $font-family: Arial, Helvetica, sans-serif;
  $toolbar-height: 23px;

  .canvas-container {
    border: 1px dotted #888;
    height: 400px;
    margin: 0px auto;
    position: relative;
    width: 400px;

    .toolbar {
      background-color: #F7F7F7;
      border: 1px solid #D7D7D7;
      position: absolute;
      height: $toolbar-height;
      left: 0px;
      right: 0px;
      top: 0px;

      .page-count, .previous, .next, .clear {
        float: left;
        font-family: $font-family;
        font-size: 12px;
        display: inline-block;
        margin: 5px 3px 5px 5px;
        @include user-select(none);
      }

      .clear {
        float: right;
      }


      .previous, .next, .clear {
        background-color: #59F;
        background-image: -webkit-linear-gradient(top, #59F, #5094F8);
        border: 1px solid #37D;
        @include border-radius(3px);
        color: white;
        cursor: pointer;
        margin: 3px;
        padding: 0.5px 4px;

        &:hover {
          background-color: #5494F4;
          background-image: -webkit-linear-gradient(top, #5494F4, #4C8FEF);
          border-color: #15B;
        }

        &:active {
          background-color: #4888F8;
          background-image: -webkit-linear-gradient(top, #4888F8, #4080F0);
          border-color: #04A;
        }
      }
    }

    .page, .sketchpad {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      top: $toolbar-height + 2px;
      width: 100%;
    }
  }
}

.uploader-template {
  $border-color: #D7D7D7;
  $dark-text: #222;
  $font-family: Arial, Helvetica, sans-serif;
  $light-text: #444;
  $or-padding: 6px;
  $spacer: 8px;
  $step-margin: 4px;
  $upload-option-padding: 10px;

  font-family: $font-family;
  margin-top: 72px;

  .title {
    color: $dark-text;
    font-family: Optima, $font-family;
    font-size: 36px;
  }

  .subtitle {
    color: $light-text;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .steps {
    background-color: #F7F7F7;
    border: 1px solid $border-color;
    @include border-radius(3px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px;
    display: inline-block;
    font-size: 15px;
    margin: 0px auto;
    padding: 8px 16px;
    text-align: left;

    .step-label {
      color: $dark-text;
      font-size: 18px;
      margin: $step-margin 0px;
    }

    .spacer {
      height: $spacer;
    }

    .line {
      border-top: 1px solid $border-color;
    }

    .upload-options {
      padding: 0px 12px;

      .upload-option {
        clear: both;
        padding-top: $upload-option-padding - $step-margin;

        ~ .upload-option {
          padding: 0px;
        }

        &.last {
          padding-bottom: $upload-option-padding;

          .option-label {
            margin-top: 2px;
          }
        }

        .option-label {
          color: $light-text;
          float: left;
          margin: 1px 8px 0px 0px;

          &.or-label {
            color: $dark-text;
            margin: $or-padding + 1px 0px $or-padding - 1px 8px;
          }
        }

        .upload-link {
          background-color: #59F;
          background-image: -webkit-linear-gradient(top, #59F, #5094F8);
          border: 1px solid #37D;
          @include border-radius(3px);
          color: white;
          cursor: pointer;
          font-size: 14px;
          padding: 1.5px 8px;
          @include user-select(none);

          &:hover {
            background-color: #5494F4;
            background-image: -webkit-linear-gradient(top, #5494F4, #4C8FEF);
            border-color: #15B;
          }

          &:active {
            background-color: #4888F8;
            background-image: -webkit-linear-gradient(top, #4888F8, #4080F0);
            border-color: #04A;
          }

          &.local-file {
            overflow: hidden;
            position: absolute;

            input[type="file"] {
              cursor: pointer;
              right: 0px;
              opacity: 0;
              position: absolute;
              top: 0px;
            }
          }
        }

        input[type="text"] {
          border: 1px solid $border-color;
          font-family: $font-family;
          font-size: 13px;
          margin: 0px 0px 0px -1px;
          padding: 2px;
          @include placeholder(#AAA);
          width: 200px;

          &:hover {
            border: 1px solid #AAA;
          }

          &:focus {
            border: 1px solid #37E;
            outline: none;
          }
        }
      }
    }
  }

  .upload-progress-template {
    $border-color: #D7D7D7;

    display: none;

    .progress-bar-container {
      background-color: white;
      border: 1px solid $border-color;
      @include border-radius(3px);
      height: 18px;
      margin: 8px 0px;
      overflow: hidden;
      width: 100%;

      .progress-bar {
        background-color: #59F;
        border-right: 1px solid $border-color;
        height: 100%;
        width: 25%;

        .progress-bar-overlay {
          background-image: url("/images/animated-overlay.gif");
          height: 100%;
          opacity: 0.25;
          width: 100%;
        }
      }
    }

    .status {
      color: $light-text;
      margin: $step-margin 0px $step-margin + 1px;

      a {
        color: #26D;

        &:hover {
          color: #48F;
        }
      }
    }

    &.error {
      .progress-bar {
        background-color: #D33;

        .progress-bar-overlay {
          opacity: 0;
        }
      }

      .status, .details {
        color: #D33;
      }
    }

    &.success {
      .progress-bar-container {
        display: none;
      }

      .status {
        margin: 8px 0px $step-margin + 1px;
      }
    }
  }
}
