@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select($option) {
  -webkit-user-select: $option;
  -moz-user-select: $option;
  -ms-user-select: $option;
  -o-user-select: $option;
  user-select: $option;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

body {
  text-align: center;
}

.sketchpad-template {
  .canvas-container {
    border: 1px dotted #888;
    height: 400px;
    margin: 0px auto;
    width: 400px;
  }

  .clear-button {
    display: block;
    margin: 4px;
  }
}

.uploader-template {
  $border-color: #D7D7D7;
  $dark-text: #222;
  $font-family: Arial, Helvetica, sans-serif;
  $light-text: #444;
  $or-padding: 6px;
  $spacer: 8px;
  $step-margin: 4px;
  $upload-option-padding: 12px;

  font-family: $font-family;
  margin-top: 72px;

  .title {
    color: $dark-text;
    font-family: Optima, $font-family;
    font-size: 36px;
  }

  .subtitle {
    color: $light-text;
    font-size: 18px;
    margin-bottom: 24px;
  }

  .steps {
    background-color: #F7F7F7;
    border: 1px solid $border-color;
    @include border-radius(3px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px;
    font-size: 15px;
    margin: 0px auto;
    padding: 8px 16px;
    text-align: left;
    width: 500px;

    .step-label {
      color: $dark-text;
      font-size: 18px;
      margin: $step-margin 0px;
    }

    .spacer {
      height: $spacer;
    }

    .line {
      border-top: 1px solid $border-color;
    }

    .upload-option {
      clear: both;
      padding-top: $upload-option-padding - $step-margin;

      ~ .upload-option {
        padding: 0px;
      }

      &.last {
        padding-bottom: $upload-option-padding - $spacer;

        .option-label {
          margin-top: 2px;
        }
      }

      .option-label {
        color: $light-text;
        float: left;
        margin: 1px 8px 0px 27px;

        &.or-label {
          margin: $or-padding + 1px 0px $or-padding - 1px 35px;
        }
      }

      .upload-link {
        background-color: #59F;
        background-image: -webkit-linear-gradient(top, #59F, #5094F8);
        border: 1px solid #37D;
        @include border-radius(3px);
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding: 1.5px 8px;
        @include user-select(none);

        &:hover {
          background-color: #5494F4;
          background-image: -webkit-linear-gradient(top, #5494F4, #4C8FEF);
          border-color: #15B;
        }

        &:active {
          background-color: #4888F8;
          background-image: -webkit-linear-gradient(top, #4888F8, #4080F0);
          border-color: #04A;
        }
      }

      input[type="text"] {
        border: 1px solid $border-color;
        font-family: $font-family;
        font-size: 13px;
        margin: 0px 0px 0px -1px;
        padding: 2px;
        @include placeholder(#AAA);
        width: 200px;

        &:hover {
          border: 1px solid #AAA;
        }

        &:focus {
          border: 1px solid #48F;
          outline: none;
        }
      }
    }
  }
}
