.custom-alert-container {
  padding-top: 12px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  .custom-alert {
    background-color: #FCC;
    border: 1px solid #844;
    border-radius: 3px;
    color: #400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    opacity: 0.5;
    padding: 2px 6px;
  }
}
